<?xml version="1.0" encoding="UTF-8"?>
<!-- spring 核心配置文件的标准根标签 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--扫描的包-->
    <context:component-scan base-package="com.abc"/>
    <!--配置mvc驱动-->
    <!--annotation-driven作用是为了让Controller注解生效-->
    <mvc:annotation-driven/>
    <!--配置静态资源访问-->
    <mvc:default-servlet-handler/>

<!--配置-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--最大允许上传文件的大小，单位是byte-->
        <!-- one of the properties available; the maximum file size in bytes -->
        <property name="maxUploadSize" value="1000000"/>
    </bean>


</beans>